/* for app js */
#app{
  background-color: #f2f2f5;
  height: max-content;
}

/* for tracks1 */
.card{
  transition: transform 0.5s ease;
}
.card:hover{
  cursor: pointer;
  transform: translateY(-10px);
}

/* for lyrics */
#lyrics{
  height: 90vh;
}
.back{
  margin-bottom: 40px;
}

@media(max-width:480px){
  #lyrics{
    height: max-content;
  }
}