/* for app js */
#app{
  background-color: #f2f2f5;
  height: max-content;
}

/* for tracks1 */
#tracks{
  transition: transform 0.5s ease;
}
#tracks:hover{
  cursor: pointer;
  transform: translateY(-10px);
}

/* for lyrics */
#lyrics{
  height: 90vh;
}
.back{
  margin-bottom: 40px;
}

@media(max-width:480px){
  #lyrics{
    height: max-content;
  }
}

/* for search card */
#search{
  margin-bottom: 100px;
}

#sub{
  margin-top: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}